@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Inter";
    height: 100%;
    overflow: hidden;
    @apply bg-green-300;
  }

  :root {
    --card-size: 60px;
    --card-gap: 4px;
  }

  @media (min-width: 960px) {
    :root {
      --card-size: 100px;
      --card-gap: 6px;
    }
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply cartoon font-black px-4 py-2 rounded-full uppercase tracking-wider hover:bg-black/10;
  }

  .btn-group {
    @apply w-fit flex bg-yellow-100 items-center rounded-full overflow-hidden cartoon;

    button {
      @apply py-2 px-4 bg-transparent font-black uppercase;

      &:first-child {
        @apply rounded-l-full;
      }

      &:last-child {
        @apply rounded-r-full;
      }
    }
  }

  .btn-group-divider {
    @apply w-[1px] bg-black/10 h-[1.5em];
  }

  .card {
    --animation-card-delay: calc(0.03s * var(--position, 0));
    --animation-column-delay: calc(0.05s * var(--column, 0));

    @apply overflow-hidden grid rounded select-none transition-transform cartoon;

    [data-game-over="true"] & {
      @apply animate-success;
      animation-delay: var(--animation-column-delay, 0);
    }

    .card-front,
    .card-back {
      @apply [grid-area:1/-1] transition-transform;
      backface-visibility: hidden;
    }
  }

  .card-front {
    @apply bg-white;
    transform: rotateY(180deg);
  }

  .card-back {
    @apply font-black text-black/40 text-xl flex items-center justify-center bg-green-200;
  }

  [data-flipped="true"] {
    .card-front {
      transform: rotateY(0);
    }

    .card-back {
      transform: rotateY(180deg);
    }
  }
}

@layer utilities {
  .btn-group button {
    @apply hover:bg-black/10;

    &[data-active="true"],
    &:active:enabled {
      @apply bg-yellow-400;
    }
  }

  .btn:disabled,
  .btn-group button:disabled {
    @apply opacity-40;
  }

  .btn-primary {
    @apply bg-yellow-200 hover:bg-yellow-300;
  }

  .btn-transparent {
    border: none;
    box-shadow: none;
  }

  .is-wrong {
    @apply animate-wiggle;
  }

  .is-correct {
    @apply animate-success pointer-events-none;
    animation-iteration-count: 1;
  }

  .cartoon {
    @apply border-2 border-black shadow-cartoon shadow-black;
  }
}
