@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Inter";
    height: 100%;
    overflow: hidden;
  }

  :root {
    --card-size: 60px;
    --card-gap: 4px;
  }

  @media (min-width: 960px) {
    :root {
      --card-size: 100px;
      --card-gap: 6px;
    }
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply bg-neutral-200 font-black px-4 py-2 rounded uppercase tracking-wider hover:bg-neutral-300;
  }

  .btn-group {
    @apply flex bg-neutral-200 items-center rounded-full gap-1 overflow-hidden;

    .btn {
      @apply rounded-full;
    }
  }

  .btn-group-divider {
    @apply w-[1px] bg-black/10 h-[1.5em];
  }

  .card {
    --animation-card-delay: calc(0.03s * var(--position, 0));
    --animation-column-delay: calc(0.1s * var(--column, 0));

    @apply overflow-hidden grid border border-gray-400 rounded select-none transition-transform;

    [data-game-over="true"] & {
      @apply animate-success;
      animation-delay: var(--animation-column-delay, 0);
    }

    .card-front,
    .card-back {
      @apply [grid-area:1/-1] transition-transform;
      backface-visibility: hidden;
    }
  }

  .card-front {
    transform: rotateY(180deg);
  }

  .card-back {
    @apply font-black text-gray-300 text-xl bg-white flex items-center justify-center;
  }

  [data-flipped="true"] .card-front {
    transform: rotateY(0);
  }
  [data-flipped="true"] .card-back {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  .btn-group .active {
    @apply bg-sky-400;
  }

  .btn:disabled {
    @apply opacity-40;
  }

  .is-wrong {
    @apply animate-wiggle;
  }

  .is-correct {
    @apply animate-success pointer-events-none;
    animation-iteration-count: 1;
  }
}
