@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Inter";
    height: 100%;
    overflow: hidden;
  }

  :root {
    --card-size: 60px;
    --card-gap: 4px;
  }

  @media (min-width: 960px) {
    :root {
      --card-size: 100px;
      --card-gap: 6px;
    }
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply bg-neutral-200 font-black px-4 py-2 rounded uppercase tracking-wider hover:bg-neutral-300;
  }

  .btn-group {
    @apply flex bg-neutral-200 items-center rounded-full gap-1 overflow-hidden;

    .btn {
      @apply rounded-full;
    }
  }

  .btn-group-divider {
    @apply w-[1px] bg-black/10 h-[1.5em];
  }

  .card {
    --animation-delay: calc(0.02s * var(--position, 0));

    @apply overflow-hidden relative opacity-0 animate-start w-full grid grid-cols-1 grid-rows-1 h-full items-center justify-center border border-gray-400 rounded select-none;

    &[data-player]:after {
      @apply block absolute left-1 top-1 w-4 h-4 rounded-full border border-2 border-white;
      content: "";
      background-color: var(--player-color);
    }

    [data-game-over="true"] & {
      @apply animate-success;
    }
  }

  .card-front {
    @apply [grid-column:1] [grid-row:1] w-full h-full;
    transform: rotateY(180deg);
  }

  .card-back {
    @apply w-full h-full [grid-column:1] [grid-row:1] font-black text-gray-300 text-xl bg-white flex items-center justify-center;
  }

  .card-front,
  .card-back {
    @apply transition-transform;
    backface-visibility: hidden;
  }

  [data-flipped="true"] .card-front {
    transform: rotateY(0);
  }
  [data-flipped="true"] .card-back {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  .btn-group .active {
    @apply bg-sky-400;
  }

  .btn:disabled {
    @apply opacity-40;
  }

  .is-wrong {
    @apply animate-wiggle;
  }

  .is-correct {
    @apply animate-success pointer-events-none;
    animation-iteration-count: 1;
  }
}
